.principal_information {
  width: 527px;
  margin-left: 560px;
}

.paragraph {
  color: rgb(7, 7, 7);
  font-family: preloslab-book;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  width: 522px;
}

.ol {
  padding-left: 15px;
}

.button_llenar_formulario {
  width: 184px;
}